.u-panel {
  @extend .u-radius;
  background-color: var(--shade);
  transition: var(--transition, .4s);
  padding: 5px 15px;
  &.hover:hover {
    background-color: var(--foreground);
    color: var(--background);
    font-weight: 600;
  }
  &.active:active {
    background-color: var(--brand);
    color: var(--foreground);
    font-weight: 800;
    transition: .01s;
  }
}


.u-panel.after {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
    position: absolute;
    background-color: var(--brand);
    clip-path: circle(0px at 0);
    transition: var(--transition, .4s);
  }
  &.hover:hover::after {
    clip-path: circle(25% at 0);
  }
  &.active:active::after {
    clip-path: circle(200% at 0);
  }
}

.u-radius {
  border-radius: var(--radius, 25px);
}
