//Variables
@import "./variables/queries";
@import "./variables/spaces";


//Foundations
@import "./foundations/reset";
@import "./foundations/color";
@import "./foundations/type";


//Cube
@import "./cube/block";
@import "./cube/composition";
@import "./cube/util";

//Handles Canvas
body > *:not(canvas[data-engine]) {
  position: relative;
  z-index: 1;
}

canvas[data-engine] {
  position: fixed;
  top: 0px; left: 0px;
  z-index: 0;
  max-width: 100vw;
  user-select: none;
  pointer-events: none;
}
